/* common start */
.text-justify{
    text-align: justify;
}
.section-title{
    position: relative;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #17a2b8;
}
.section-title::after {
    position: absolute;
    content: "";
    top: 18px;
    left: 0px;
    width: 100%;
    height: 3px;
    background: #17a2b8;
}
.section-title span{
    position: relative;
    background: #fff;
    z-index: 1;
    padding: 0px 10px;
}
.modal{
    top: 12vh;
}
.modal p{
    color: #666;
}
/* common end */
/* navabr start */
header{
    background: linear-gradient(to left, rgba(0,0,0,.6), rgba(0,0,0,.6)), url(../img/banner.jpg);
    background-size: cover;
}
.navbar{
    padding-top: 20px;
}
.navbar .fa-rebel{
    color: #3EC2A0;
}
.navbar-light .navbar-nav .nav-link{
    color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: #3EC2A0;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #3EC2A0;
}
/* navabr end */

/* banner start */
.banner{
    padding: 150px 0px;
}
.banner h1{
    color: #3EC2A0;
}
.banner .btn-outline-info {
    color: #fff;
    border-color: #fff;
    border: 2px solid;
}
.banner .btn-outline-info:hover {
    color: #fff;
    background: #3EC2A0;
    border-color: #3EC2A0;
}
@media(min-width: 0px) and (max-width: 767px){
    .banner{
        padding: 50px 0px;
    }
}
/* banner end */

/* about section start */
.about-content-aside h4{
    color: #333;
}
.about-content-aside p{
    color: #666;
}
.about-content-aside .btn-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
    border: 2px solid;
}
.about-content-aside .btn-info:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
}
.about-content-poster img{
    height: 100%;
}
.about-content-aside h5{
    color: #333;
}
/* about section end */

/* services section start */
.services-section{
    background: #30C39E;
}
.services-section .section-title{
    color: #fff;
}
.services-section .section-title::after {
    background: #fff;
}
.services-section .section-title span{
    background: #30C39E;
}
/* services section end */

/* experience section start */
.experience-content .card h5 span:first-child{
    color: #333;
    font-weight: 600;
}
.experience-content .card-body{
    background: #F8F9FA;
    padding: 1.3rem;
}
.experience-content .card h5 small{
    font-size: 14px;
    color: #fff;
    background: #30C39E;
}
.experience-content .card p{
    color: #666;
}
/* experience section end */


